* {
    box-sizing: border-box; /* Crucial for preventing layout breakage from padding */
}

.Vault_Container{
    text-align: center;
    width: 100vw;
    background-color: black;
    color: white;
    flex-wrap: wrap;
}
h1{
    color: green;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    
}
span{
    color: white;
}
.Form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    height: 50%;
    align-content: center;
    border: 5px solid green;
    border-radius: 10px;
    background-color:rgba(27, 25, 25, 0.651);
    margin-left: 250px;
    margin-right: 250px;
}
.Vault_inputs{
    display: flex;
    flex-direction: column;
    gap: 10px
}
label{
    display: block;
    text-align: start;
    font-size: 26px;
    font-weight: bolder;
    font-family: cursive;
}
input{
    width: 400px;
    height: 30px;
}
.description_textArea{
    width: 400px;
    height: 60px;
    outline: none;  
    border: 2px solid transparent; 
    transition: all 0.3s ease; 
}
textarea:hover{
    border: 3px solid #00ff75; 
}
.btn_add{
    width: 150px;
    height: 48px;
    border-radius: 8px;
    background-color: green;
    align-self: center;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    font-family: monospace;
    font-weight: bold; 
    transition: all .3s;
}

.savedLinksContainer{
    flex-wrap: wrap;
    width: 100vw;
    padding-top: 10px;
    background-color: black;
    height: 100vh;
}

.savedLinksTopic{
    text-align: center;
}
.cardsItems{
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    cursor: pointer;
    height:auto;
    background-color: black;
}
.SearchContainer{
    text-align: center;
    padding-bottom: 15px;
    flex-wrap: wrap;
    
}
.searchBtn{
    width: 100px;
    height: 48px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-weight: 800;
    transition: all .3s;
}
button:hover {
 cursor: pointer;
 transform: scale(0.98);
 border-radius: 20px;
 background-color: #00ff75;
 box-shadow: 0px 0px 30px 1px rgba(113, 175, 142, 0.3);
}

input:hover { 
  border: 3px solid #00ff75;
  font-weight: 600; 
}
.searchInput{
    height:45px;
    width: 400px
    
}
.cards{
    font-family: 'Times New Roman', Times, serif;
}

/*-----------------------media query 320px to 400px-----------------------------*/
@media (320px <= width <= 400px){
input{
        flex-wrap: wrap;
        width: 250px;
        align-content: center;
    }
.description_textArea{
    width: 250px;
}
.searchInput{
    width: 270px;
}
.Form{
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
    text-align: center;
}
label{
    text-align: center;
}
}

/*-----------------------media query 320px to 480px-----------------------------*/
/* @media (400px <= width <= 480px){
input{
        flex-wrap: wrap;
        width: 250px;
        align-content: center;
    }
.description_textArea{
    width: 250px;
}
.searchInput{
    width: 270px;
}
.Form{
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
    text-align: center;
}
label{
    text-align: center;
}
} */



