.Form{
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    flex-wrap: wrap;
}
h1{
    color: green;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    
}
span{
    color: white;
}
.Vault_Container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    height: 45%;
    align-content: center;
    border: 5px solid green;
    border-radius: 10px;
    background-color:rgba(27, 25, 25, 0.651);
    margin-left: 250px;
    margin-right: 250px;
}
.Vault_inputs{
    display: flex;
    flex-direction: column;
    gap: 10px
}
label{
    display: block;
    text-align: start;
    font-size: 26px;
    font-weight: bolder;
    font-family: cursive;
}
input{
    width: 300px;
    height: 25px;
}
.description_textArea{
    width: 300px;
    height: 60px
}
.btn_add{
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background-color: green;
    align-self: center;
    font-size: 15px;
    cursor: pointer;
    color: white;
    font-family: monospace;
    font-weight: bold;
}
.savedLinks{
    width: 99vw;
     border: 5px solid red;
}
.linksData{
    width: 99vw;
    border: 5px solid green;
}
.heading1, .heading2, .heading3, .heading4{
    width: 18vw;
    border: 5px solid yellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 26px;
}